
<div class="contenedor">
  <div class="sidebarhome">
    <img src="../../images/home.gif" width="406px" height="530px">
       </div>

  <div class="mainhome">
    <p class="txthome">
      <span class="calc">calclab</span> is calc’s lab for design, web programming and open source application. </p>
    <p class="txthome">En <span class="calc">calclab</span> we advise you developing all aspects regarding the
    three main fields of every web project:<br> <b>concept >< design >< programming</b>.</p>
    <p class="txthome">Our little team works since 1993, nearly the beginning of internet, with all
    telematic possibilities. We love personalized solutions, that’s why we define our way to develop
    projects as <b><i>“the aesthetic of relations”</i></b>.
    </p>
    <br /><br /><br /><br />
    <p class="names">
      *
      <i> Teresa Alonso Novo </i>- concept >< design >< programming<br />
      <i> &nbsp;&nbsp; Daniel Gómez Blasco</i> - concept >< design >< programming<br />
      <i> &nbsp;&nbsp; Thomas Scheiderbauer</i> - concept >< design<br />
      <i>  &nbsp;&nbsp; Marcus Spiegel</i> - concept >< design
    </p>
  </div>
</div>

