
<div class="contenedor">
  <div class="sidebar">
    <div class="first"> </div>

  </div>

  <div class="main">
    <div class="first">
      <h1>c a l c l a b es el laboratio de software de c a l c.</h1>
      <p>
        Trabajamos como consultoría, desarrollamos software e impartimos formación.
      </p>
    </div>

  </div>
</div>

