
<div class="contenedor">
  <div class="sidebarhome">
    <img src="../../images/home.gif" width="406px" height="530px">
       </div>

  <div class="mainhome">    
    <p class="txthome">
      <span class="calc">calclab</span> es el laboratorio de diseño, programación web y
    software libre de <b>c a l c</b>. </p>
    <p class="txthome">En <span class="calc">calclab</span> trabajamos como consultoría
      asesorando y desarrollando aspectos de los tres
    campos esenciales de cada proyecto web:<br> <b>concepto >< diseño >< programación</b>.</p>
    <p class="txthome">Somos un equipo pequeño*, que trabajamos desde 1993, (casi desde el comienzo de internet),
      con las posibilidades telemáticas. Nos gustan las soluciones a medida, por eso definimos nuestra manera de
      ver y hacer proyectos como<b><i> “la estética de las relaciones”</i></b>.
    </p>
    <br /><br /><br /><br />
    <p class="names">
      *
      <i> Teresa Alonso Novo </i>- concepto >< diseño >< programación<br />
      <i> &nbsp;&nbsp; Daniel Gómez Blasco</i> - concepto >< diseño >< programación<br />
      <i> &nbsp;&nbsp; Thomas Scheiderbauer</i> - concepto >< diseño<br />
      <i>  &nbsp;&nbsp; Marcus Spiegel</i> - concepto >< programación

    </p>
  </div>
</div>

