
<div class="contenedor">
  <div class="sidebar">
    <div class="first"> </div>

  </div>

  <div class="main">
    <div class="first"></div>
    <h3><span class="calc">calclab</span> es el laboratorio de software libre de <span class="calc">calc</span>.</h3>
    <p class="columna2">
      En <span class="calc">calclab</span> trabajamos como consultoría, implementamos proyectos para sistemas
      de publicación electrónica, gestión de contenidos o sistemas de trabajo colaborativo y e-learning.
    </p><p class="columna2">
      Desarrollamos software libre e impartimos clases de programación.
      <br/>
    </p>
  </div>
</div>

