<div class="contenedor">

  <div class="sidebar txt">
    <div class="first"> </div>
    <a class="txt" href="http://www.despachodepan.com" target="_blank">www.despachodepan.com</a>
    <h2 class="txt">design and programming</h2>
    <p class="txt">web content management system programmed with ruby for a spanish archictecture studio.</p>
  </div>

  <div class="main">
    <div class="first"> </div>
    <img class="screen1" src="/images/lapanaderia_01.png" />
    <img class="screen2" src="/images/lapanaderia_02.png" />
  </div>
</div>

<div class="contenedor">
  <div class="sidebar">
    <a class="txt" href="http://www.novaron.ch" target="_blank">www.novaron.ch</a>
    <h2 class="txt">
    design and programming</h2>
  <p class="txt">web content management system programmed with ruby for a swiss archictecture studio.</p></div>
  <div class="main">
    <img class="screen1" src="/images/novaron_01.png" />
    <img class="screen2" src="/images/novaron_02.png" />
  </div>
</div>

<div class="contenedor">
  <div class="sidebar">
    <a class="txt" href="http://www.elmagrebconojosdemujer.org" target="_blank">elmagrebconojosdemujer.org</a>
    <h2 class="txt">
    design and programming</h2>
  <p class="txt">web content management system programmed with ruby for the spanish ngo Solidaridad Internacional.</p></div>
  <div class="main">
    <img class="screen1" src="/images/solidaridad_01.png" />
    <img class="screen2" src="/images/solidaridad_02.png" />
  </div>
</div>

<div class="contenedor">
  <div class="sidebar">
    <a class="txt" href="http://www.apysolidaridad.org" target="_blank">www.apysolidaridad.org</a>
    <h2 class="txt">
    design and programming</h2>
  <p class="txt">web content management system programmed with ruby for the spanisch ngo Apy Solidaridad en Acción.</p></div>
  <div class="main">
    <img class="screen1" src="/images/apy_01.png" />
    <img class="screen2" src="/images/apy_02.png" />
  </div>
</div>

<div class="contenedor">
  <div class="sidebar">
    <a class="txt" href="http://www.demosaica.com" target="_blank">www.demosaica.com</a>
    <h2 class="txt">
    design and programming</h2>
  <p class="txt">static web website for demosaica, cement tiles manufacturer.</p></div>
  <div class="main">
    <img class="screen1" src="/images/demosaica_01.png" />
    <img class="screen2" src="/images/demosaica_02.png" />
  </div>
</div>

<div class="contenedor">
  <div class="sidebar">
    <a class="txt" href="http://www.casamasomenos.net/" target="_blank">www.casamasomenos.net</a>
    <h2 class="txt">
    design and programming</h2>
  <p class="txt">static web website for the architecture department, University Sevilla.</p></div>
  <div class="main">
    <img class="screen1" src="/images/casamasomenos_01.png" />
    <img class="screen2" src="/images/casamasomenos_02.png" />
  </div>
</div>


<div class="contenedor">
  <div class="sidebar">
    <a class="txt" href="http://centro.us.es/arquitectura/" target="_blank">centro.us.es/arquitectura</a>
    <h2 class="txt">
    design and programming</h2>
  <p class="txt">static web website for the architecture department, University Sevilla.</p></div>
  <div class="main">
    <img class="screen1" src="/images/etsa_01.png" />
    <img class="screen2" src="/images/etsa_02.png" />
  </div>
</div>
