<div class="contenedor">
  <div class="sidebar">
    <div class="first"> </div>

  </div>

  <div class="main">
    <div class="first"> </div>
    <a href="http://kune.ourproject.org/"><img class="columna1" src="/images/kune.png" /></a>
    <p class="columna2">
      Kune, que significa juntos en esperanto, es una nueva herramienta web, todavía en desarrollo, para la creación de ambientes de intercomunicación permanente, inteligencia colectiva, conocimiento y trabajo compartido.
    </p>
    <p class="columna2">
      Kune tiene como principal objetivo multiplicar los potenciales de las personas, comunidades y organizaciones,
      permitiendo una cooperación continua, sin tener en cuenta la distancia física. Así, permitirá reuniones virtuales,
      coordinar agendas comunes, unir a personas con intereses comunes y desarrollar proyectos cooperativos.
      Es más, entre otras funcionalidades permite gestionar los proyectos y sus
      contenidos compartiéndolos de forma libre con cualquier persona en cualquier lugar.<br/><br/>
      Visita nuestra página web: <a href="http://kune.ourproject.org">http://kune.ourproject.org</a><br/>
    </p>
  </div>
</div>

<div class="contenedor">
  <div class="sidebar">
  </div>

  <div class="main">
    <a href="http://code.google.com/p/emite/"><img class="columna1" src="/images/emite.png" /></a>
    <p class="columna2">
    emite is es una librería XMPP (jabber, instant messaging protocol) para navegadores web, escrita en Java con GWT.
    Implementa el protocolo de comunicaciones xmpp utilizando la técnica bosh. Tiene una arquitectura modular
    que permite extenderla fácilmente y, aunque el módulo de mensajería instantánea viene de serie,
    otros tipos de comunicaciones son posibles.
    <p class="columna2">
      Opcionalmente se puede acomplar a nuestro interface gráfico completamente funcional.
    </p>
    <p class="columna2">
      Visita la página del proyecto: <a href="http://emite.googlecode.com">http://emite.googlecode.com</a><br/>
      o la demo: <a href="http://emite.ourproject.org/">http://emite.ourproject.org/</a>
    </p>
  </div>
</div>