<div class="contenedor">
  <div class="sidebar">
    <div class="first"> </div>

  </div>

  <div class="main">
    <div class="first"> </div>
    <a href="http://kune.ourproject.org/"><img class="columna1" src="/images/kune.png" /></a>
    <p class="columna2">
      Kune, que significa juntos en esperanto, es una nueva herramienta web, todavía en desarrollo, para la creación de ambientes de intercomunicación permanente, inteligencia colectiva, conocimiento y trabajo compartido.
    </p>
    <p class="columna2">
      Kune tiene como principal objetivo multiplicar los potenciales de las personas, comunidades y organizaciones, permitiendo una cooperación continua, sin tener en cuenta la distancia física. Así, permitirá reuniones virtuales, coordinar agendas comunes, unir a personas con intereses comunes y desarrollar proyectos cooperativos. Es más, entre otras funcionalidades permite gestionar los proyectos y sus contenidos compartiéndolos de forma libre con cualquier persona en cualquier lugar.
    </p>
  </div>
</div>

<div class="contenedor">
  <div class="sidebar">
  </div>

  <div class="main">
    <a href="http://code.google.com/p/emite/"><img class="columna1" src="/images/emite.png" /></a>
    <p class="columna2">
      emite is a GWT XMPP (jabber, instant messaging protocol) library. This library implements the xmpp communications protocol using the bosh technique with gwt. It also handles the xmpp Instant Messaging protocol but has a modular architecture to support any other kind of communications.
      <br /><br />
      * stable, pure java (no js), portable library<br />
      * ready, full featured and easy to use instant messaging implementation<br />
      * extensible architecture<br />
      * Chat rooms support (Multi-User Chat)<br />
      * Other XEP like: Chat State Notifications<br />
      * well tested (junit test, coverage support)<br /><br />

      At the same time we are developing a full featured GUI with:
      <br /><br />
      * Common features support (chat, chat rooms, presence, roster)<br />
      * Sound and visual advices when new messages arrive<br />
      * Drag &amp; Drop support to start a conversation and for chat room invitations<br />
      * i18n support<br />
      * Focused in be very usable<br />
      * Based in extjs and gwt-ext<br /><br />

      See our demo: <a href="http://emite.ourproject.org/">http://emite.ourproject.org/</a>
    </p>
  </div>
</div>