<div class="contenedor">
  <div class="sidebar">
    <div class="first"> </div>
    <img class="txt" src="/images/kune.png" />
  </div>

  <div class="main">
    <div class="first"> </div>
    <p class="txt">We’ve been building Ruby on Rails powered web applications since before Rails 1.0 was released.
      Our team has the expertise and experience to take your concept and quickly turn it into a running
      web application. We’re not just following web development best practices — we’re defining them.
    </p>
  </div>
</div>

<div class="contenedor">
  <div class="sidebar">
  <img class="txt" src="/images/emite.png" /></div>
  
  <div class="main">
    <p class="txt">We offer both on-site and off-site training events for individual web developers and internal
      development groups at larger organizations. We’ve compiled the lessons we’ve learned and patterns
      we’ve discovered into a series of straightforward Ruby on Rails web development courses aimed
    at both beginner and advanced software engineers.</p>
  </div>
</div>