<div class="contenedor">
  <div class="sidebar">
    <div class="first"> </div>
    
  </div>

  <div class="main">
    <div class="first"> </div>
    <a href="http://kune.ourproject.org/"><img class="c1" src="/images/kune.png" /></a><p class="c2">We’ve been building Ruby on Rails powered web applications since before Rails 1.0 was released.
      Our team has the expertise and experience to take your concept and quickly turn it into a running
      web application. We’re not just following web development best practices — we’re defining them.
    </p>
  </div>
</div>

<div class="contenedor">
  <div class="sidebar">
  </div>
  
  <div class="main">
   <a href="http://code.google.com/p/emite/"><img class="c1" src="/images/emite.png" /></a><p class="c2">We offer both on-site and off-site training events for individual web developers and internal
      development groups at larger organizations. We’ve compiled the lessons we’ve learned and patterns
      we’ve discovered into a series of straightforward Ruby on Rails web development courses aimed
    at both beginner and advanced software engineers.</p>
  </div>
</div>