<div class="contenedor">
  <div class="sidebar">


  </div>

  <div class="main">
  <div class="first"> &nbsp; </div>
    <a class="columna1" href="http://kune.ourproject.org/"><img  src="/images/kune.png" /></a>
    <p class="columna2">
      <b>kune</b> is a web infrastructure to encourage collaboration, content sharing &amp; free culture.<br />
      <i>kune</i> means together in esperanto and is a new web tool (under development)for the creation of
      environments of permanent intercommunication, collective intelligence, knowledge and shared work.
      our goal is to ofer services via web allowing any group of people to work together, to share their
      works regarding of the physical distance and to encourage free (as in freedom) culture
      and social movements.
    </p>
  </div>
</div>

<div class="contenedor">
  <div class="sidebar">
  </div>

  <div class="main">
    <a href="http://code.google.com/p/emite/"><img class="columna1" src="/images/emite.gif" /></a>
    <p class="columna2">
      <b>emite</b> is a GWT XMPP (jabber, instant messaging protocol) library. This library implements the xmpp communications protocol using the bosh technique with gwt. It also handles the xmpp Instant Messaging protocol but has a modular architecture to support any other kind of communications.
      <br /><br />
      * stable, pure java (no js), portable library<br />
      * ready, full featured and easy to use instant messaging implementation<br />
      * extensible architecture<br />
      * Chat rooms support (Multi-User Chat)<br />
      * Other XEP like: Chat State Notifications<br />
      * well tested (junit test, coverage support)<br /><br />

      At the same time we are developing a full featured GUI with:
      <br /><br />
      * Common features support (chat, chat rooms, presence, roster)<br />
      * Sound and visual advices when new messages arrive<br />
      * Drag &amp; Drop support to start a conversation and for chat room invitations<br />
      * i18n support<br />
      * Focused in be very usable<br />
      * Based in extjs and gwt-ext<br /><br />

      See our demo: <a href="http://emite.ourproject.org/">http://emite.ourproject.org/</a>
    </p>
  </div>
</div>