<div class="contenedor">
  <div class="sidebar">
    <div class="first"> &nbsp;</div>
    <a href="http://www.communimage.net"> <img src="/images/cui_logo.png" alt="communimage logo"/> </a>
  </div>

  <div class="main">
    <div class="first">&nbsp; </div>
    <a href="http://www.communimage.net"> <img class="columna1" src="/images/cui_screen.png" alt="communimage screen"/> </a>
    <p class="columna3"><b>communimage</b> es un proyecto artístico que estamos desarrollando
      y manteniendo online desde 1999.
      Cientos de personas han contribuido a un creciente mar de imágenes.
      <i>communimage</i> es el intento logrado de mantener un dialogo global, colectivo y visual.<br /><br />

      Estadística del 21.09.2009, 18:29<br />
      Numero de imágenes: 25953<br />
      Numero de colaboradores: 2276<br />
      Numero de países: 92<br /><br />

      Tamaño de impresión: 156.34152m2 (14.3736m x 10.8932m)<br /><br />


      El interfaz visual de <i>communimage</i> es un sistema de coordenadas, en el cual cada imagen (128 x 128 pixel)
      que haya sido introducida mantiene su posición fija. Cada imagen contiene una cantidad de meta-información,
      añadida por el creador de la imagen. Este meta información es utilizada para crear diferentes visualizaciones
      de <i>communimage</i>.

    </p>
  </div>
</div>

<div class="contenedor">
  <div class="sidebar">
    <a href="http://www.calcaxy.com/erbse"> <img src="/images/erbse_logo.png" alt="erbse logo"/> </a>
  </div>
  <div class="main">
    <a href="http://www.calcaxy.com/erbse"> <img class="columna1" src="/images/erbse_screen.png" alt="erbse screen"/>  </a>
    <p class="columna3">La idea detrás de <b>e.r.b.s.e.</b> es aumentar la calidad de las bases de datos /
      los motores de búsqueda (BD) de lo individual hacia lo visual y relacional. Queremos ampliar las
      estructuras rígidas y lineales de las bases de datos a herramientas contextuales y emocionales
      para generar otro tipo de información y conexiones de interés visibles y comprensibles.<br /><br />
      El punto de partida es el tesoro de las BD, las claves de búsqueda. El momento en que se
      introduce una clave de búsqueda es también intuitivo, emocional y personal. El propio método
      de búsqueda expresa más que el deseo de encontrar el resultado coherente. Como sabemos de
      nuestras propias búsquedas a menudo una forma intuitiva y espontánea de elegir la clave
      de búsqueda conduce a un resultado más "exacto" que la clave supuestamente vinculada por lógica.<br /><br />
      Proponemos, lo que es atípico para los motores de búsqueda, de visualizar las claves de búsqueda
      por medio de un icono, para poder así vincular y posicionar cada búsqueda en relación a todas
      las otras búsquedas y generar una representación espacial y dinámica de la base de datos. <br /><br />
      Este “buscapaisaje” se compondría de dos niveles. <br />
      En un primer nivel se muestran todas las relaciones entre las claves de búsqueda en sí por medio
      líneas. Al pasar con el ratón por encima del icono de la clave de búsqueda se abre una ventana que
      contiene información adicional como fecha de búsqueda, hora y otras claves de búsqueda introducidas
      por el mismo usuario. <br />
      En un segundo nivel aparecen todos los resultados pertenecientes a esta clave de búsqueda.
      Mostrando a los usuarios el aspecto relacional de su operación y facilitando ver también las
      conexiones con otros usuarios.
    </p>
  </div>
</div>

<div class="contenedor">
  <div class="sidebar"><a href="http://www.geografiaffettiva.net">  <img src="/images/gea_logo.png" alt="geanet logo"/> </a></div>
  <div class="main">
    <a href="http://www.geografiaffettiva.net"> <img class="columna1" src="/images/gea_screen.png" alt="geanet screen"/> </a>
    <p class="columna3"> <b>geografia affettiva (geanet)</b> es un proyecto
    en la web que permite generar “geografias transpersonales”. Cada miembro de un grupo,
    un colectivo, una tribu, etc. Puede editar sus movimientos y motivaciones sobre un
    mapa geográfico. <br /><br />
    Estas informaciones se pueden relacionar a “campos de contenido”, que superpuestas
    al mapa geográfico dibujan una geografía creciente de una comunidad y sus conexiones
    espaciales e intelectuales. <br /><br />
El concepto de geografia affettiva (el proyecto nació en Italia, por eso su nombre italiano)
ha sido desarrollado en talleres en Perpignan, Marseilla, Biella, Medellin, Gantes y Sevilla,
donde hemos presentado su prototipo “sevilla_scan” en 2007. Desde que Google y otras entidades
grandes comerciales han desarrollado plataformas parecidas hemos decidido de no seguir con el
“desarrollo global” y mejorar el programa para usos locales.
     <br /><br />
    <a href="http://geografiaffettiva.net/sevillascan">una cartagrofia transpersonal > una geografia afectiva. </a></p>
  </div>
</div>


