<div class="contenedor">
  <div class="sidebar"><img src="/images/icon_design.png" /></div>
  <div class="main">
    <img class="title" id="design" src="/images/design.png" />

    <p class="txt">Consideramos el diseño elemental en todos los niveles del desarrollo
      de un proyecto: en la fase conceptual, en la fase de elaboración del interfaz
      y la fase de programación. Llamábamos en muchas ocasiones nuestra
      manera de ver y hacer diseño “la estética de las relaciones”. Eso significa que
      consideramos cada fase de la realización parte del diseño.
      Los “diseñadores” del concepto >< del interfaz >< y de la programación están
      en relación e interacción continua para conseguir el resultado mas congruente
      entre idea, intención e implementación.<br /><br />

      Diseño es el esfuerzo consciente de imponer un orden con stenido.<br />
      <a href="http://en.wikipedia.org/wiki/Victor_Papanek"> <span class="author">Victor Papanek</span></a><br /><br />

      Hacer las cosas simples complicadas es lo típico; hacer las cosas complicadas
      simples, impresionantemente simples: eso es creatividad.<br/>
      <a href="http://en.wikipedia.org/wiki/Charles_Mingus"><span class="author">Charles Mingus</span></a><br /><br />

      Diseño es la manera de poner forma y contenido juntos.
      Diseño, como el arte, tiene múltiples definiciones; no existe una.
      Diseño puede ser arte. Diseño puede ser estética.
      Diseño es tan simple!, por eso es tan complicado.<br/>

    <span class="author"><a href="http://en.wikipedia.org/wiki/Paul_Rand">Paul Rand</a></span></p>
  </div>
</div>

<div class="contenedor">
  <div class="sidebar"><img src="/images/icon_development.png" /></div>
  <div class="main">
    <img class="title" id="development" src="/images/development.png" />
    <p class="txt">
      Somos especialistas en interface-design y programación basada en lenguajes open source.
      Utilizamos Java, J2EE y Ruby y sobre todo Ruby on Rails desde antes de su versión 1.0
      Estamos encantados con este lenguaje de programación porque podemos influir también
      en el propio desarrollo del mismo.
    </p>
  </div>
</div>

<div class="contenedor">
  <div class="sidebar"><img src="/images/icon_training.png" /></div>
  <div class="main">
    <img class="title" id="training" src="/images/training.png" />
    <p class="txt">
      ¿Necesita formación? Llevámos haciéndolo más de una década. Llevamos a las aulas nuestra experiencia
      como formadores,  diseñadores, desarrolladores y, sobretodo, personas de carne y hueso.
      Enseñamos con pasión porque nos encanta lo que hacemos.
      Algunos de los cursos que hemos impartido recientemente:
      <ul>
        <li>Programación web avanzada con Ruby on Rails</li>
        <li>Introdución a las nuevas tecnologías y educación: <br />las TIC como recurso pedagógico y metodologías</li>
        <li>Programación J2EE avanzada. EJB3 y Spring</li>
      </ul>
    </p>
  </div>
</div>

<div class="contenedor">
  <div class="sidebar">
    <div class="first"> </div>
    <img src="/images/icon_consulting.png" />
  </div>

  <div class="main">
    <div class="first"> </div>
    <img class="title" id="consulting" src="/images/consulting.png" />
    <p class="txt">
      Somos un equipo pequeño que trabajamos desde 1993, casi el comienzo de la web,
      con las posibilidades telemáticas. Desarrollamos páginas web en todos sus aspectos
      basándonos en tecnologías de software libre. Nos gustan las soluciones a medida y
      los sistemas de gestión de contenido. Nos relacionamos con humanos y sus problemas
      de comunicación en sitios como Insags, IBM o La Junta de Andalucía, Solidaridad
      Internacional Madrid y otras ONG's o organizaciones en contextos socioculturales.
      Déjanos saber cual es tu tema y tu problema y te hacemos una propuesta como
      enfocarlo y solucionarlo.
    </p>
  </div>
</div>




