<div class="contenedor">
  <div class="sidebar">
    <div class="first"> </div>
    <img src="/images/icon_consulting.png" />
  </div>

  <div class="main">
    <div class="first"> </div>
    <img class="title" id="consulting" src="/images/consulting.png" />
    <p class="txt">We’ve been building Ruby on Rails powered web applications since before Rails 1.0 was released.
      Our team has the expertise and experience to take your concept and quickly turn it into a running
      web application. We’re not just following web development best practices — we’re defining them.
    </p>
  </div>
</div>

<div class="contenedor">
  <div class="sidebar"><img src="/images/icon_training.png" /></div>
  <div class="main">
    <img class="title" id="training" src="/images/training.png" />
    <p class="txt">We offer both on-site and off-site training events for individual web developers and internal
      development groups at larger organizations. We’ve compiled the lessons we’ve learned and patterns
      we’ve discovered into a series of straightforward Ruby on Rails web development courses aimed
    at both beginner and advanced software engineers.</p>
  </div>
</div>

<div class="contenedor">
  <div class="sidebar"><img src="/images/icon_development.png" /></div>
  <div class="main">
    <img class="title" id="development" src="/images/development.png" />
    <p class="txt">We offer both on-site and off-site training events for individual web developers and internal
      development groups at larger organizations. We’ve compiled the lessons we’ve learned and patterns
      we’ve discovered into a series of straightforward Ruby on Rails web development courses aimed at
    both beginner and advanced software engineers.</p>
  </div>
</div>

<div class="contenedor">
  <div class="sidebar"><img src="/images/icon_design.png" /></div>
  <div class="main">
    <img class="title" id="design" src="/images/design.png" />
    <p class="txt">
      Design is the conscious effort to impose a meaningful order.<br />
<a href="http://en.wikipedia.org/wiki/Victor_Papanek">Victor Papanek</a><br /><br />

Making the simple complicated is commonplace; making the
complicated simple, awesomely simple, that’s creativity. <br />
<a href="http://en.wikipedia.org/wiki/Charles_Mingus">Charles Mingus</a><br /><br />

Design is the method of putting form and content together.
Design, just as art, has multiple definitions; there is no single
definition. Design can be art. Design can be aesthetics.
Design is so simple, that’s why it is so complicated. <br />
<a href="http://en.wikipedia.org/wiki/Paul_Rand">Paul Rand</a></p>
  </div>
</div>
