<div class="contenedor">
  <div class="sidebar"><img src="/images/icon_design.png" /></div>
  <div class="main">
    <img class="title" id="design" src="/images/design.png" />
    <p class="txt">
      Diseño es el esfuerzo consciente de imponer un orden con stenido.<br />
      <a href="http://en.wikipedia.org/wiki/Victor_Papanek">Victor Papanek</a><br /><br />

      Hacer las cosas simples complicadas es lo típico; hacer las cosas complicadas
      simples, impresionantemente simples: eso es creatividad.<br/>
      <a href="http://en.wikipedia.org/wiki/Charles_Mingus">Charles Mingus</a><br /><br />

      Diseño es la manera de poner forma y contenido juntos.
      Diseño, como el arte, tiene múltiples definiciones; no existe una.
      Diseño puede ser arte. Diseño puede ser estética.
      Diseño es tan simple!, por eso es tan complicado.<br/>

    <a href="http://en.wikipedia.org/wiki/Paul_Rand">Paul Rand</a></p>
  </div>
</div>

<div class="contenedor">
  <div class="sidebar"><img src="/images/icon_development.png" /></div>
  <div class="main">
    <img class="title" id="development" src="/images/development.png" />
    <p class="txt">
      Somos un equipo pequeño que hacemos desarrollo web basado en tecnologías de software libre.
      Nos gustan las soluciones a medida y los sistemas de gestión de contenido. Utilizamos Ruby on Rails
      desde antes de su versión 1.0 y estamos encantados.
    </p>
  </div>
</div>

<div class="contenedor">
  <div class="sidebar"><img src="/images/icon_training.png" /></div>
  <div class="main">
    <img class="title" id="training" src="/images/training.png" />
    <p class="txt">
      ¿Necesita formación? Llevámos haciéndolo más de una década. Llevamos a las aulas nuestra experiencia
      como formadores,  diseñadores, desarrolladores y, sobretodo, personas de carne y hueso.
      Enseñamos con pasión porque nos encanta lo que hacemos.
      Algunos de los cursos que hemos impartido recientemente:
      <ul>
        <li>Programación web avanzada con Ruby on Rails</li>
        <li>Introdución a las nuevas tecnologías y educación: las TIC como recurso pedagógico y metodologías</li>
        <li>Programación J2EE avanzada. EJB3 y Spring</li>
      </ul>
    </p>
  </div>
</div>

<div class="contenedor">
  <div class="sidebar">
    <div class="first"> </div>
    <img src="/images/icon_consulting.png" />
  </div>

  <div class="main">
    <div class="first"> </div>
    <img class="title" id="consulting" src="/images/consulting.png" />
    <p class="txt"><br/>
      Especialistas en open source. Desarrollo en Java, J2EE y Ruby. Somos geeks y nos relacionamos con humanos
      en sitios como Insags, IBM o La Junta de Andalucía.
    </p>
  </div>
</div>




