<div class="contenedor">
  <div class="sidebar">
    <div class="first">&nbsp;</div>
    <img src="/images/icon_design.png" />
    </div>
  <div class="main">
        <div class="first">&nbsp;</div>
    <img class="title" id="design" src="/images/design.png" />

    <p class="txt">We consider design a basic in all levels of the development of a project:
    in the conceptual phase, in the phase of elaboration of the interface and in the phase of
    programming. We named in many occasions our way to see and make design as “the aesthetic
    of relations”. This means that we consider each phase of the realisation of a project
    part of the design.
The “designers” of the concept >< the interface >< and the programming are in continuous
relation and interaction to achieve the most coherent result between idea, intention and implementation.
<br /><br />

            Design is the conscious effort to impose a meaningful order.<br />
      <a href="http://en.wikipedia.org/wiki/Victor_Papanek"> <span class="author">Victor Papanek</span></a><br /><br />

      Making the simple complicated is commonplace; making the
      complicated simple, awesomely simple, that’s creativity. <br />
      <a href="http://en.wikipedia.org/wiki/Charles_Mingus"> <span class="author">Charles Mingus</span></a><br /><br />

      Design is the method of putting form and content together.
      Design, just as art, has multiple definitions; there is no single
      definition. Design can be art. Design can be aesthetics.
      Design is so simple, that’s why it is so complicated. <br />
    <a href="http://en.wikipedia.org/wiki/Paul_Rand"> <span class="author">Paul Rand</span></a></p>

  </div>
</div>

<div class="contenedor">
  <div class="sidebar"><img src="/images/icon_development.png" /></div>
  <div class="main">
    <img class="title" id="development" src="/images/development.png" />
    <p class="txt">
      We are specialized in interface-design and open source based programming.
      We work mostrly with Java, J2EE, GWT and Ruby on Rails.
      We love programming, so everything we build has our hand made touch.
 <br /> <br />

    </p>
  </div>
</div>

<div class="contenedor">
  <div class="sidebar"><img src="/images/icon_training.png" /></div>
  <div class="main">
    <img class="title" id="training" src="/images/training.png" />
    <p class="txt">
You need training? We bring to your classroom our experience as trainers,
designers and developers. We teach with passion because we really like what we do. <br />
Some of the courses we gave recently: <br />

      <ul>
        <li>Advanced web programming with Ruby on Rails</li>
        <li>Introduction to new technologies and education: <br />
        information and communication technologies as pedagogical<br /> resource and methodology</li>
        <li>Advanced J2EE programming. EJB3 and Spring</li>
      </ul>
    </p>
  </div>
</div>

<div class="contenedor">
  <div class="sidebar">

    <img src="/images/icon_consulting.png" />
  </div>

  <div class="main">

    <img class="title" id="consulting" src="/images/consulting.png" />
    <p class="txt">
Our little team works since 1993, nearly the beginning of the web, with the
telematic possibilities. We develop all aspects of web pages and applications
and all developments are based on free software technologies. We love personalized
solutions and content management systems.  We relate with humans and their
communication problems like Insags, IBM or the government of Andalucia,
Solidaridad Internacional Madrid and other NGO`s or organisations in social and cultural contexts.
<br /><br /><br /><br />
    </p>
  </div>
</div>








