<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>c a l c l a b</title>
    <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.7.0/build/reset/reset-min.css" />
    <link href="/stylesheets/lab.css" rel="stylesheet" type="text/css" />
  </head>

  <body>
    <div class="contenedor header">
      <a id="logo" href="services.html"></a>
      <div class="navigation">
        <ul>
          <li><a id="services" href="/services"></a></li>
          <li><a id="jobs" href="/jobs"></a></li>
          <li><a id="opensource" href="/opensource"></a></li>
          <li><a id="research" href="/research"></a></li>
          <li><a id="contact" href="mailto:calcies@calcaxy.com"> </a></li>
        </ul>
      </div>
    </div>

    <%= yield %>
  </body>
</html>